@import '../../../node_modules/antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*:not(i) {
  font-family: "iranyekan", "DroidArabicNaskhRegular", serif !important;
}

table {
  direction: rtl !important;
}

.text-left{
  text-align: left !important;
}

.shadowed {
  box-shadow: 0 -6px 13px -7px;
}

.padding0 {
  padding: 0 !important;
}

.cursor_pointer {
  cursor: pointer !important;
}


.menu_column {
  flex: 1;
}

.menu_column.center {
  justify-content: center;
  flex-direction: row-reverse;
}

.menu_column.right {
  justify-content: flex-end;
}

a[href="http://www.amcharts.com"] {
  display: none !important;
}

.noborder {
  border: none !important;
  box-shadow: none !important;
}

.width100 {
  width: 100%;
}

#root {
  font-size: 0.85em;
}

.text-danger{
  color: red;
  font-size: 11px;
  text-align: right;
  direction: rtl;
}


th, td {
  text-align: center !important;
}


/*#endregion*/


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.headerPanel {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 9px;
  box-shadow: 0 0 8px #aaa;
}

.directionRTL{
  direction: rtl;
}

.space-1,
.space-bottom-1 {
  padding-bottom: 2rem !important;
}

.space-2,
.space-top-2 {
  padding-top: 4rem !important;
}

.space-2,
.space-bottom-2 {
  padding-bottom: 4rem !important;
}

.space-3,
.space-top-3 {
  padding-top: 8rem !important;
}

.space-3,
.space-bottom-3 {
  padding-bottom: 8rem !important;
}

.space-4,
.space-top-4 {
  padding-top: 12.5rem !important;
}

.pagination-table{
  font-family: "iranyekan", "DroidArabicNaskhRegular", serif !important;
  color: #5269f3 !important;
}

.thead-text {
  font-size: small !important;
  color: #656565;
  font-family: "iranyekan", "DroidArabicNaskhRegular", serif;
}

.sort-icon-di-active {
  color: #d4d4d4 !important;
  font-size: medium !important;
}

.sort-icon-active {
  color: #3e3aff !important;
  font-size: medium !important;
}

.font-size-medium {
  color: #757575 !important;
  font-size: medium !important;
}

.font-size-xx-small {
  color: #757575 !important;
  font-size: xx-small !important;
}

.font-size-small {
  color: #757575 !important;
  font-size: small !important;
}

.font-size-large {
  color: #ffffff !important;
  font-size: xx-large !important;
  text-align: center;
}
.bg-gradient-coral {
  background: linear-gradient(0deg, #ffffff 0, #6731fb 5%) !important; }

.bg-gradient-blue-dark {
  background: linear-gradient(0deg, #ffffff 0, #54b1ce 5%) !important; }

.bg-gradient-count {
  background: linear-gradient(0deg, #ffffff 0, #fb2692 5%) !important; }